@using System.Web.Mvc
@using System.Web.Mvc.Ajax
@using System.Web.Mvc.Html
@inherits System.Web.Mvc.WebViewPage

@{
    ViewBag.Title = "Simple Plugin";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Simple Page</h2>
<div id="simpleMessage"></div>
<button id="simpleButton" type="button">Click Me</button>