@using System.Web.Mvc
@using System.Web.Mvc.Ajax
@using System.Web.Mvc.Html
@inherits System.Web.Mvc.WebViewPage

<div class="SimpleWidget">
    <h4>Simple Widget Content</h4>
    <p>This is just some basic content to show how a very simple widget works.</p>
    <button id="SimpleWidgetButton">Click Me</button>
</div>